* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 5%;
  }
  
  body {
    /*font-family: 'Gaegu', cursive;*/
    text-transform: uppercase;
    color: #000000;
    background-color: #ffd700;
    overflow: hidden;
  }
  
  .header {
    text-align: center;
  }

  ul {
    text-align: center; 
  }

  .sizeMe {
    display: inline-block; 
    margin-left: auto;
    margin-right: auto;

  }

  .theGang {
    max-width: 32em;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
  }

.statBox{
  margin-top: -15px;
  margin-bottom: 60px;}

  .header li {
    display: inline-block;
    margin: 1em;
    list-style: none;
    font-size: 1.5em;
  }

  .theBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
  }

  .images {
    height: 20em;
    width: 62em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h3{
    text-align: center;
  }

.button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  height: 3em;
  width: 10em;
  cursor: pointer;
  text-transform: uppercase;
  border: 0.1em white solid;
  background-color: black;
  color: white;
  display: block;
}

.start-container {
  color:white;
  font-family: Libre Baskerville, cursive;
  padding-left: 30px;
  padding-right: 30px;
  width: 600px;
  height: 550px;
}

.test{
  height:500px;
}
li {
  list-style: none;
  padding: 10px;
}

.questionBorder{
  border: solid black;
  text-align: center;
}

.container{
  background-color: #000000;
}

@media only screen and (min-width: 320px){

  main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .theGang {
    width: 200px;
  }

  .images{
    width: 400px;
    padding-top: 1em;
    padding-bottom: 1em;
  }


  .button{
    margin-top: 0.5em;
    font-size: 1em;
    width: 8em;
    height: 2.5em;
  }

  h1{
    font-size: 1em; 
  }

}

@media only screen and (min-width: 550px){
  main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .theGang{
    width: 29.5em;
    height: 31.5em;
    padding-top: 2.6em;
    padding-bottom: 2.6em;
  }

  .button{
    margin-top: 1em;
    font-size: 1em;
    width: 10em;
    height: 2.5em;
  }

  .theGang {
    width: 500px;
    height: 350px;
  }

  

  .images{
    width: 500px;
  }

  h1{
    font-size: 1em;
  }

  .sizeMe{
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 800px){
  
}